* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  background-image: url("/img/back.jpg");
  background-position: cover;
}
#board {
  margin: 5px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100%;
}
.unselect {
  user-select: none;
}
.list {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-right: 10px;
  width: 300px;
  min-height: 150px;
  background-color: rgba(217,217,217,0.9);
  position: relative;
  top: 0;
  left: 0;
  border-radius: 4px;
  transition: top, left, box-shadow;
  transition-duration: 0.1s;
  box-shadow: 1.6px 1.6px rgba(0,0,0,0.4);
}
.list:hover {
  top: -2px;
  left: -2px;
  box-shadow: 3.2px 3.2px rgba(0,0,0,0.4);
}
.list >h1 {
  border-radius: 4px 4px 0 0;
  text-align: center;
  background-color: #333;
  color: #fff;
  margin: 0;
  font-size: 20px;
  width: 100%;
  height: 2em;
  line-height: 2em;
}
.list_addcard {
  margin: 20px 0;
}
.card {
  margin: 10px 0;
  background-color: #fff;
  position: relative;
  top: 0;
  left: 0;
  border-radius: 4px;
  transition: top, left, box-shadow;
  transition-duration: 0.1s;
  box-shadow: 1.6px 1.6px rgba(0,0,0,0.4);
}
.card:hover {
  top: -2px;
  left: -2px;
  box-shadow: 3.2px 3.2px rgba(0,0,0,0.4);
}
.card:link {
  text-decoration: none;
  color: inherit;
}
.card:visited {
  text-decoration: none;
  color: inherit;
}
.card_text {
  outline: none;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 270px;
  padding: 35px;
}
.card-edited {
  user-select: auto;
  border: #f00 1px solid;
}
.card_editor {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.7);
}
.card_editor >form {
  padding: 35px;
  border-radius: 10px;
  background-color: #ddd;
}
.card_editor-hidden {
  display: none;
}
.card_closeEditor {
  z-index: -100;
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}
.card_del {
  position: absolute;
  right: 5px;
  top: 5px;
}
.card_del-div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid;
  height: 20px;
  width: 20px;
  font-size: 20px;
}
.card_del-div:hover {
  color: #f00;
  border-color: #f00;
}
.card_del >button[type='submit'] {
  background-color: transparent;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid;
  height: 20px;
  width: 20px;
  font-size: 20px;
}
.card_del >button[type='submit']:hover {
  color: #f00;
  border-color: #f00;
}
.card_del-edited {
  display: none;
}
.heartbeat {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #fff;
}
