{
  "parser": "babel-eslint",
  "plugins": [
        "react-pug"
    ],
  "extends": ["eslint:recommended"],
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module"
  },
  "env": {
    "browser": false,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "no-extra-semi": 1,
    "no-inner-declarations": 2,
    "no-undef": 1,
    "no-unused-vars":"warn",

    "comma-dangle": [
      "error",
      "never"
    ]
  }
}
